{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "css-modules"],
  "extends": [
    "plugin:css-modules/recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier/@typescript-eslint",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "semi": ["error", "never"],
    "quotes": [2, "single"]
  }
}