html,
body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  background: #d4dcdf;
  color: #222;
  text-align: center;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
}

.bg {
  width: 80%;
  height: 200%;
  background: #15141B;
  position: absolute;
  top: -50%;
  left: -25%;
  z-index: 0;
  transform: rotate(15deg);
}

.logos {
  flex: auto;
  color: #0086CF;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 20px;
  width: 50%;
  height: 100%;
  z-index: 1;
}

.logos img{
  display: inline-block;
  margin: 60px 30px;
  height: 80px;
}

.versions {
  flex: auto;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  width: 50%;
  height: 100%;
  padding: 40px 0;
}

.version-title {
  color: #5B52FC;
}

.rust {
  color: #FF7346;
}

p {
  background: rgba(84, 84, 84, 0.1);
  padding: 12px 0 12px 120px;
  margin: 0;
  font-family: Lucida Console, monospace;
  font-weight: 500;
  font-size: 14px;
  text-align: left;
  color: #15141B;
}